{% extends "base.html" %}

{% block content %}
    {% include "chatters/search_form.html" %}
    <br/>
    
    {% for obj in object_list %}

        <div class="media">
            {% if obj.image %}
                <img class="d-flex mr-3" src="..." alt="Generic placeholder image">
            {% else %}
                <img class="d-flex mr-3" src="..." alt="Generic placeholder image">
            {% endif %}
            
          <div class="media-body">
            <h5 class="mt-0">{{ obj.user }} says</h5>
             {{ obj.content }}</br>
             {{ obj.timestamp | timesince }} ago
             |
             <a href="{{obj.get_absolute_url}}">view</a>
          </div>
        </div>
        
        

        
        <hr/>

        
    {% empty %}
        {% if request.GET.q %}
            <p>No tweets found.</p>
        {% else %}
            <p>No tweets yet.</p>
        {% endif %}
    
    {% endfor %}
{% endblock content %}
